<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="POST">
                    <input type="text" name="nombre" placeholder="Name">
                    <input type="number" name="mes" placeholder="Month" min="1" max="12">
                    <input type="number" name="dia" placeholder="Day" min="1" max="31">
                    <input type="submit" value="Send">
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cumple in cumples %}
                        <tr>
                            <td>{{cumple.name}}</td>
                            <td>{{cumple.month}}/{{cumple.day}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
