{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>
<table id="tablePreview" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Type</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Shares</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction['type'] }}</td>
        <td>{{ transaction['symbol'] }}</td>
        <td>{{ transaction['price'] | int | usd }}</td>
        <td>{{ transaction['shares'] | dobleCero }}</td>
        <td>{{ transaction['date_time'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}