html{
	font-size: 15px;
}

footer img{
	max-height: 6rem;
	max-width: 6rem;
}

main .container{
	min-height: 80vh;
}

button, input{
	font-weight: bolder;
	background-color:  white;
	border: 1px black solid;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

.mostrar,
#pantalla{
	font-size: 3rem;
}

.spinner{
	width: 3rem;
	height: 3rem;
	border-top: 3px gray solid;
	border-bottom: 3px gray solid;
	border-left: 3px transparent solid;
	border-right: 3px transparent solid;
	border-radius: 100%;
	animation: rotacion 1s infinite linear;
}

@keyframes rotacion {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}