/*GENERAL*/
:root{
	--color-1: rgba(13, 110, 253, 1);;
	--color-1-t: rgba(13, 110, 253, 0.3);
	--color-2: rgba(240, 86, 86, 1);
	--color-2-t: rgba(240, 86, 86, 0.7);
	--color-oscuro: #444;
}

*,
a{
	transition-duration: 0.5s;
	text-decoration: none;
	color: var(--color-oscuro);
}


/*CONTAINER*/
body > .container-fluid {
	padding-left: 0;
	padding-right: 0;
}


/*MENU*/
.navbar-brand{
	font-weight: bolder;
}

.navbar-brand:hover{
	font-size: 1.5rem;
}

.navbar .nav-item .dropdown-menu{
	display: none;
}

.navbar .nav-item:hover .dropdown-menu{
	display: block;
}

ul.dropdown-menu li{
	font-weight: bold;
	padding: 0.2rem 1rem;
}

ul.dropdown-menu li:hover{
	font-weight: bolder;
	padding: 0.3rem 1.1rem;
	background: var(--color-1-t);
}


/*CHANGING TEXT*/
#changingText{
	min-height: 17rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-weight: bold;
}

#changingText *{
	display: inline-block;
	padding-left: 0;
	font-size: 2.5rem;
	margin: 2rem auto;
}

#changingText ul li span{
	list-style-type: none;
	text-align: left;
	color:  var(--color-1) !important;
	text-transform: uppercase;
}

#changingText p{
	margin-right: 0.7rem;
}

#changingText li.oculto{
	height: 0;
	overflow: hidden;
	margin: 0;
}

#changingText li.oculto *{
	height: 0;
	font-size: 0;
	margin: 0;
}

.map-container, #map{
	height: 50rem !important;
}


/*TYPES*/
.squares{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

.squares > div{
	margin-bottom: 2rem;
}

.square{
	background: var(--color-2-t);
	border-radius: 1rem;
	border:  3px solid var(--color-2);
	padding: 1rem;
}

.square:hover{
	border:  5px solid var(--color-2);
}

.square,
.square > a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.square > a > img,
.square > a > div{
	width: 65%;
	padding: 0.5rem 0;
	font-weight: bolder;
	font-size: 1.5rem;
	text-align: center;
}

.square:hover > a > img{
	width: 70%;
}

.square:hover > a > div{
	font-size: 1.7rem;
}


/*MAP*/
.map-container, #map{
	min-height: 95vh;
}