body, body *{
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

button{
	padding: 1rem;
	margin: 1rem;
}

#contenedor	{
	min-height: 10rem;
	min-width: 10rem;
	background: red;
}