{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="banner">
  <p class="lead">Cash Balance: {{ user['balance'] | usd }}</p>
  <p class="lead">Grand Total: {{ user['total'] | usd }}</p>
</div>
<table id="tablePreview" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for holding in holdings %}
      <tr>
        <td>{{ holding['symbol'] }}</td>
        <td>{{ holding['shares'] }}</td>
        <td>{{ holding['price'] | usd }}</td>
        <td>{{ holding['total'] | usd }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}