{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<h1>Quote</h1>
<table id="tablePreview" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ stock['symbol'] }}</td>
      <td>{{ stock['name'] }}</td>
      <td>{{ stock['price'] | usd }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}