*{
	border: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-size: 16px;
}

body{
	height: 200vh;
}

ul{
	width: 10%;
	display: inline-block;
	background: gray;
}

.cl1{
	background: red;
	height: 10rem;
}
.cl2{
	background: green;
	height: 4rem;
}
.cl3{
	background: blue;
	height: 6rem;
}
.cl4{
	background: yellow;
	height: 8rem;
}